@tailwind base;
@tailwind components;
@tailwind utilities;

:root[data-theme="dark"] {
  --bg: #000000;
  --text: #ffffff;
  --button: #2563eb;
  --button-hover: #1d4ed8;
  --nav: rgba(17, 24, 39, 0.6);
  --border: #374151;
}

:root[data-theme="light"] {
  --bg: #ffffff;
  --text: #000000;
  --button: #2563eb;
  --button-hover: #1d4ed8;
  --nav: rgba(229, 231, 235, 0.6);
  --border: #d1d5db;
}
